DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=your_password
DATABASE_NAME=fish_tank_db

API_HOST=0.0.0.0
API_PORT=8000

TANK_ID=main_tank_01

OPTIMAL_TEMP=26.0
OPTIMAL_PH=7.0
OPTIMAL_DO=7.0

TEMP_UPPER_LIMIT=30.0
TEMP_LOWER_LIMIT=22.0
PH_UPPER_LIMIT=8.0
PH_LOWER_LIMIT=6.0
DO_LOWER_LIMIT=5.0

AIR_PUMP_BASE_DURATION=10
AIR_PUMP_MAX_DURATION=60
